NEXT_PUBLIC_SUPABASE_URL=https://rsdvgdjwkibqrihtudal.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzZHZnZGp3a2licXJpaHR1ZGFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxNjM4ODcsImV4cCI6MjEwNTczOTg4N30.1Eekc5jF8OAu0EEsF7bSPA1DfA2727TKVYQyeBX6FTk
SUPABASE_SERVICE_ROLE_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzZHZnZGp3a2licXJpaHR1ZGFsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDE2Mzg4NywiZXhwIjoyMTA1NzM5ODg3fQ.RbbN0lPlpHy087IgvDnqkw_7e1jOLvJvuef87MgiY8o
